Repository The-FireHub-Project/Skeleton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @The-FireHub-Project/admin-team, @dieselxxx, @The-FireHub-Project/maintenance-team

.github/CODEOWNERS:

# main owner
* @The-FireHub-Project/admin-team

# all dot files will be handled by lead dev
.* @dieselxxx

# .github will be handled by maintenance team
/.github @The-FireHub-Project/maintenance-team

# CODEOWNERS will be handled by the owner
/.github/CODEOWNERS @dieselxxx

# README.md will be handled by maintenance team
/README.md @The-FireHub-Project/maintenance-team

Create CONTRIBUTORS.md
  .github/CONTRIBUTORS.md
Owners: @The-FireHub-Project/maintenance-team

Create AUTHORS.md
  .github/AUTHORS.md
Owners: @The-FireHub-Project/maintenance-team

Create SECURITY.md
  .github/SECURITY.md
Owners: @The-FireHub-Project/maintenance-team

Create CHANGELOG.md
  .gitattributes
  CHANGELOG.md
Owners: @dieselxxx, @The-FireHub-Project/admin-team

Create Triage.yml
  .github/workflows/Triage.yml
Owners: @The-FireHub-Project/maintenance-team

Create SemanticPullRequest.yml (#15)
  .github/workflows/SemanticPullRequest.yml
Owners: @The-FireHub-Project/maintenance-team

Create dependabot.yml
  .github/dependabot.yml
Owners: @The-FireHub-Project/maintenance-team

Create Scorecard.yml
  .github/workflows/Scorecard.yml
Owners: @The-FireHub-Project/maintenance-team

Added Fossa and OpenSSF scorecard badges
  .github/SECURITY.md
Owners: @The-FireHub-Project/maintenance-team

Update .gitignore
  .gitignore
Owners: @dieselxxx

Create composer.json
  composer.json
Owners: @The-FireHub-Project/admin-team

Create phpunit.xml
  .gitattributes
  phpunit.xml.dist
Owners: @dieselxxx, @The-FireHub-Project/admin-team

Create PHPStan configuration
  .gitattributes
  phpstan.dist.neon
Owners: @dieselxxx, @The-FireHub-Project/admin-team

Create Dockerfile
  compose.yaml
  docker/000-default.conf
  docker/Dockerfile
Owners: @The-FireHub-Project/admin-team

Create README.md
  .gitattributes
  README.md
Owners: @dieselxxx, @The-FireHub-Project/maintenance-team

Update composer.json
  composer.json
Owners: @The-FireHub-Project/admin-team

Added CITATION.cff
  .gitattributes
  CITATION.cff
Owners: @dieselxxx, @The-FireHub-Project/admin-team

Update .gitattributes
  .gitattributes
Owners: @dieselxxx

Refactor composer.json
  composer.json
Owners: @The-FireHub-Project/admin-team

Update README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Create favicon.ico (#4)
  web/favicon.ico
Owners: @The-FireHub-Project/admin-team

Create web.config (#5)
  web/web.config
Owners: @The-FireHub-Project/admin-team

Create .htaccess (#6)
  web/.htaccess
Owners: @dieselxxx

Create robots.txt (#7)
  web/robots.txt
Owners: @The-FireHub-Project/admin-team

Add the main landing file for HTTP requests (#7)
  web/index.php
Owners: @The-FireHub-Project/admin-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Update README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Update README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Added Zenodo DOI to README.md
  README.md
Owners: @The-FireHub-Project/maintenance-team

Added more rules
  phpstan.dist.neon
Owners: @The-FireHub-Project/admin-team

Create Bootstrap files (#29)
  CHANGELOG.md
  README.md
  bootstrap/app.php
  bootstrap/console.php
  docker/Dockerfile
  torch
Owners: @The-FireHub-Project/admin-team, @The-FireHub-Project/maintenance-team

Update CHANGELOG.md (#29)
  CHANGELOG.md
Owners: @The-FireHub-Project/admin-team

Added Kernel to configuration file
  bootstrap/app.php
  bootstrap/console.php
Owners: @The-FireHub-Project/admin-team

Update CHANGELOG.md
  CHANGELOG.md
  README.md
  docker/Dockerfile
Owners: @The-FireHub-Project/admin-team, @The-FireHub-Project/maintenance-team

Added PHP rule for phpunit.xml to silence PHP notices, warnings and deprications (#51)
  phpunit.xml.dist
Owners: @The-FireHub-Project/admin-team

Smoke class tests (#51)
  web/test.php
Owners: @The-FireHub-Project/admin-team

Smoke class tests (#51)
  web/test.php
Owners: @The-FireHub-Project/admin-team

Add checkMissingTypehints option
  phpstan.dist.neon
Owners: @The-FireHub-Project/admin-team

Fixed telephone number format
  CITATION.cff
Owners: @The-FireHub-Project/admin-team

Added OS files to .gitignore
  .gitignore
Owners: @dieselxxx
